#karsilamaIcerik {
    padding-top: 100px;
    height: 92vh;
}

body {
    background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .75)),url(../../Content/vfun94cuy4o-david-marcu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
